<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>pdfReport</name>
        <type>plugin</type>
        <creationDate>2015-10-06</creationDate>
        <lastUpdate>2023-06-08</lastUpdate>
        <author>Denis Chenu</author>
        <authorUrl>https://www.sondages.pro</authorUrl>
        <supportUrl>https://support.sondages.pro</supportUrl>
        <version>2.3.0-beta1</version>
        <license>GNU Affero General Public License v3.0</license>
        <description><![CDATA[Use upload question type to create a pdf report, replace print pdf, save it as report in survey file and send it by email.]]></description>
    </metadata>

    <compatibility>
        <version>6</version>
        <version>5</version>
        <version>3</version>
        <version>2.73</version>
    </compatibility>
</config>
