html{font-size: 16pt}
body {
  width: auto; margin: auto;
  font-size: 16pt;line-height:1.4;
  background-color: white;
  color: #333;
  font-family:Serif;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}[hidden],
template{display:none}
a{background:transparent}
h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:black}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:\201C \201D \2018 \2019}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}button,input,select,textarea{font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],/* 1 */ input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}body,figure{margin:0}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
body{-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;}
/*Basic Styles*/
h1, h2, h3, h4, h5, h6 {color: #181818;}
h1,h2,h3,h4,h5,h6{font-weight:400;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:400;}
h1{font-size:1.8em;line-height:1.3;margin-bottom:0.4em;}
h2{font-size:1.5em;line-height:1.4;margin-bottom:0.3em;}
h3{font-size:1.3em;line-height:1.5;margin-bottom:0.2em;}
h4{font-size:1.2em;line-height:1.5;margin-bottom:0.1em;}
h5{font-size:1.1em;line-height:1.5;}
h6{font-size:1em;line-height:1.5;}
p,dl{margin:.75em 0}
p img{margin:0;}
em,q,cite{font-style:italic;}
abbr[title]{cursor:help;}
strong{font-weight:700;}
small{font-size:0.8em;}
blockquote, blockquote p { color: #777; font-style: italic; }
blockquote { margin: 0 0 1em; padding: 0.5em 1em 0 1em; border-left: 1px solid #ededed; }
blockquote cite { display: block; font-size: 1em; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }
hr { border: solid #ededed; border-width: 1px 0 0; clear: both; margin: 0.6em 0 2em; height: 0; }
a, a:visited { color: #1eaedb; text-decoration: underline; outline: 0; cursor:pointer;}
a:hover, a:focus { color: #0fa0ce; }
p a, p a:visited { line-height: 1.4; }
ul, ol { margin-bottom: 1em; }
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul{ margin-left: 30px; }
ul { list-style: square outside; }
ul ul { list-style: circle outside; }
ul ul ul { list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 95%;}
img,video,svg,iframe{max-width: 100%;height: auto;}
h1{text-align:center;width:100%;}
ul{margin-top:0}
dl{margin: 0;padding: 0;}
dt{margin: 0;padding: 0;font-weight: bold;color:#222}
dd{margin: 0 0 1em 0;padding: 0;color:#444;}
h2{}
h1{width:200mm}

.question-container-report{page-break-inside: avoid;}
a,a:visited { text-decoration: underline; }
a[href]:after { content: " (" attr(href) ")"; }
abbr[title]:after { content: " (" attr(title) ")"; }
a[href^="#"]:after, a[href^="javascript:"]:after {  content: ""; }
pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
thead { display: table-header-group; }
tr, img { page-break-inside: avoid; }
img { max-width: 100% !important; }
p, h2, h3, blockquote {
orphans: 3;
widows: 3;
}
h2, h3,p,blockquote, ul, ol { page-break-after: avoid; }
.label { border: 1px solid black; }
.table { border-collapse: collapse; }
.table td, .table th {
    border-top: 1px solid #ddd;
}
.table-bordered th,.table-bordered td {border: 1px solid #ddd; }
pre.form-control{border: 1px solid #ddd;}

.question-container-report{border:1px solid #F00;padding:1em}

.text-muted {color: #777;}
.text-primary {color: #337ab7;}
.text-success {color: #3c763d;}
.text-info {color: #31708f;}
.text-warning {color: #8a6d3b;}
.text-danger {color: #a94442;}
.bg-primary {color: #fff;background-color: #337ab7;}
.bg-success {background-color: #dff0d8;}
.bg-info {background-color: #d9edf7;}
.bg-warning {background-color: #fcf8e3;}
.bg-danger {background-color: #f2dede;}
.strong{font-weight:bold}
.em{font-style:italic}

table {width:100%;table-layout:fixed}
tr {width:100%}
td.td-margin{width:5%;border:1px solid green}
td.td-content{width:90%;}
.table-bordered td pre{border:0 none}
